node_modules
.git
.next
.wrangler
.sites-runtime
.tools
.node-data
outputs
work
dist
.env*
.dev.vars*
**/.terraform
**/*.tfstate*
**/*.tfplan
**/terraform.tfvars
contracts/node_modules
contracts/managed
integrations/*-upstream

.next-nhn/
